body{
	display: flexbox;
	font-family: 'Palatino','Courier New', Courier, monospace sans-serif, #ffffff;
    background-image: url(обои.jpg);
    margin: 0px;
}
h3{
	font-weight: bold;
	font-size: 2em;
	margin: 55px auto;
	width: 500px;
	color: #000000;
	background-color: rgb(255, 255, 255);
}
.header{							/*шапка*/
	background-color: #598F6D ;
	padding: 0px;
	height: 40px;
	flex-direction: row;
}
.menu{								/*ссылки на другие страницы*/
	display: flex;
	flex-wrap: wrap;
    font-size: 1em;
	flex-direction: row;
	justify-content: space-around;
	padding: 8px;
}
 a{									/*ссылки на другие страницы*/
	 font-family: 'Segoe UI';
	 text-decoration: none;
	 color: #ffffff;
	 transition: all 0.2s linear;
 }

a:hover{
	text-decoration: underline;
}

.center{	
	display: flex;							/*прямоугольник*/
	background-color: #ffffff;
	opacity: 0.9;
	margin: 50px;
	height: 500px;
	justify-content: space-between;
}
.text{										/*текст про новый год*/
	font-size: 2.3em;							
	flex-direction: row;
	font-family: 'Courier New', Courier, monospace;
	font-style: italic;
	margin-left: 40px;
}
.fanariki{
	width: 100%;
	background-image: url(гирлянда.png);
	background-repeat: repeat-x;
	height: 80px;
	background-size: contain;
	margin: -30px;
}

.elka{
	margin-right: -20px;
}		